.todoContainer {
  background-color: #1a1a1a;
  color: white;
  padding: 1rem 1.2rem;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: 550;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-align: justify;
}

.todoContainer button {
  cursor: pointer;
}

.todoContainer p {
  flex: 1;
  line-height: 1.3rem;
  overflow-wrap: break-word;
  hyphens: auto;
}

.btnContainer {
  display: flex;
  gap: 0.5rem;
}

.completed {
  text-decoration: line-through;
  color: #666;
  text-decoration-thickness: 1px;
}

.completeBtn,
.deleteBtn,
.editBtn,
.saveBtn,
.cancelBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  color: #5c5c5c;
}

.deleteBtn:hover {
  color: red;
}

.checked {
  color: rgb(117, 231, 117);
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.editedTodo {
  font-size: 1rem;
  background-color: #1a1a1a;
  color: white;
  flex: 1;
  border: none;
  outline: none;
}
